<div class="lesson-banner" style="background-color: #00A469;">
</div>

<div class="container">
  <div class="profileBox">
    <% if current_user.photo.attached? %>
    <%= cl_image_tag current_user.photo.key, height: 300, width: 400, crop: :fill %>
    <% else %>
    <%= image_tag ("default.png"), height: 300, width: 300, crop: :fill %>
    <% end %>


  <div class="User"> <h1><%=  current_user.email%></h1></div>


    <%= link_to 'Edit Profile', edit_user_registration_path %>
    <% current_user. lessons.each do |lesson| %>
    <%= lesson.speciality %>
    <% end %>
  </div>
</div>
