<div class="lesson-banner" style="background-color: #00A469;">
</div>
<div class="container">
 <%= simple_form_for @lesson do |f| %>
 <%= f.input :speciality, collection: ["Motivation", "Survival", "Yoga", "Diet", "Dating", "Time"] %>
 <%= f.input :description %>
 <%= f.input :price, collection: 10..50 %>
 <%= f.submit "submit", class: "btn btn-primary" %>
<% end %>
</div>
