<div class="lesson-banner" style="background-color: #00A469;">
</div>

<div class="lesson-container">
<h1 class="d-flex justify-content-center align-items-center">Lessons</h1>
  <% @lessons.each do |lesson| %>

    <div class="card-product">
  <!-- use - USER.AVATAR for user profile image to be dynamic -->
      <div class="d-flex align-items-center justify-content-start">
        <% if lesson.user.photo.attached? %>
          <%= cl_image_tag lesson.user.photo.key, height: 150, width: 150, crop: :fill %>
        <% else %>
          <%= image_tag "default.png", height: 150, width: 150, crop: :fill %>
        <% end %>
        <div class="card-product-infos">
          <p style="font-size:25px"><%= lesson.speciality %></p>
          <p style="font-weight: bold"><%= lesson.description %></p>
          <p style="font-weight: bold">Price : £<%= lesson.price %></p>
        </div>
      </div>
      <div class="buttons">
        <%= link_to "View Details", lesson_path(lesson), class: 'whitetext' %>
      </div>
    </div>
  <% end %>
</div>
