<div class="lesson-banner" style="background-color: #00A469;">
  <div class="search-bar-lessons">
      <h1><%= @lesson.speciality %> Mentors in</h1>
  </div>
</div>

<div class="lesson-container">

  <% @lessons.each do |lesson| %>

    <div class="card-product">
  <!-- use - USER.AVATAR for user profile image to be dynamic -->
      <div class="d-flex align-items-center justify-content-start">
        <img src="https://media.licdn.com/dms/image/C4D03AQG3mVhghooy4Q/profile-displayphoto-shrink_800_800/0?e=1579737600&v=beta&t=FLfJTON6XeSWySuhNByK74tMa7BLSUY-ylYEXNiiRvQ" />
        <div class="card-product-infos">
          <h2><%= lesson.speciality %></h2>
          <p><%= lesson.description %></p>
          <p>£<%= lesson.price %></p>
        </div>
      </div>
      <div class="buttons">
        <%= link_to "View Details", lesson_path(lesson), class: 'whitetext' %>
      </div>
    </div>
  <% end %>
</div>
