<div class="container">
<h1><%= @lesson.speciality  %></h1>
<div class="card">
<%= @lesson.speciality %>
<%= @lesson.price %>
<%= link_to "Book Now", new_lesson_booking_path(@lesson) %>
</div>
<%= link_to "Back to Lessons", lessons_path %>

</div>
