
<div class="lesson-banner" style="background-color: #00A469;">
</div>

<div class="container">
  <div class="cardDetails">
    <div class="details">
          <p style="font-size:25px; padding:15px;"><%= @lesson.speciality %><br><%= @lesson.description %></p>
          <p style="font-weight: bold; padding:15px;">Price : £<%= @lesson.price %></p>
    </div>
    <div class="d-flex-end">
           <%= link_to "Book Now", checkout_booking_path(@lesson), class: 'book-button' %>
            <% if @lesson.user == current_user %><br>
              <%= link_to "Edit lesson", edit_lesson_path(@lesson), class: 'edit-button' %>
              <%= link_to "Delete lesson", lesson_path(@lesson), class: 'delete-button', method: :delete %>
            <% end %>
    </div>
    <%= link_to "Back to Lessons", lessons_path %>
    </div>
</div>
